language: php
dist: xenial
sudo: true

git:
  depth: 5

notifications:
  email:
    - lisa@codementality.com
  on_success: change
  on_failure: always

php:
  - 7.3

services:
  - docker

# Build only when changes are pushed on travis-tests branch
branches:
  only:
  - travis-tests

git:
  depth: 5

addons:
  hosts:
    - drupal.test
    - solr.drupal.test

before_install:
  - export PATH=$PATH:$HOME/.local/bin
  - sudo apt-get -qq update
  - sudo apt-get install -y pv
  - curl "https://s3.amazonaws.com/aws-cli/awscli-bundle.zip" -o "awscli-bundle.zip"
  - unzip awscli-bundle.zip
  - ./awscli-bundle/install -b ~/bin/aws
  - export PATH=~/bin:$PATH
  - mkdir -p ~/shared
  - echo 'sendmail_path = /bin/true' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - phpenv config-rm xdebug.ini
  - composer --verbose self-update --$COMPOSER_CHANNEL
  - composer cache-clear
  - composer --version

before_script:
  - COMPOSER_MEMORY_LIMIT=-1 composer create-project codementality/drupal-project:8.x-dev drupal --no-interaction
  - sudo rm drupal/docker/php/conf.d/xdebug.ini
  - cp drupal/.env.example drupal/.env
  - cp drupal/drupal/settings.php drupal/docroot/sites/default/settings.php
  - cd drupal
  - make devinit
  - make cache-reset

script:
  - make phpcs
#  - make fetest
#  - make phpunit
  - make scan-custom-deprecated
  - make behat
  - make wcag2AA
